[Unit]
Description=Scrub ZFS Pool
Requires=zfs.target
After=zfs.target

[Service]
Type=oneshot
Nice=19
IOSchedulingClass=idle
ExecStartPre=-/usr/sbin/zpool scrub -s %i
ExecStart=/usr/sbin/zpool scrub %i
